<!doctype html>

<html ng-app="app">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="index.js"></script>
</head>

<body>

<div class="container" ng-controller="indexController">
    <h3>Список продуктов</h3>
    <table class="table table-hover" cellpadding="0" cellspacing="0">
        <tr>
            <td>ID</td>
            <td>Product</td>
            <td>Cost</td>
            <td>Action</td>
        </tr>
        <tbody>
        <tr ng-repeat="p in ProductsList">
            <td>{{p.id}}</td>
            <td>{{p.title}}</td>
            <td>
                <button class="btn btn-primary" ng-click="changeCost(p.id, -5)">-</button>
                {{p.cost}}
                <button class="btn btn-primary" ng-click="changeCost(p.id, 5)">+</button>
            </td>
            <td>
                <button class="btn btn-danger" ng-click="deleteProduct(p.id)">Исключить</button>
            </td>
        </tr>
        </tbody>
    </table>

    <br>
    <h3>Продукты в ценовом диапазоне</h3>
    <form novalidate ng-submit="findProductsByCostBetween()">
        <div class="mb-3">
            <label class="form-label">Минимальная стоимость</label>
            <input type="number" class="form-control" placeholder="По умолчанию 0" ng-model="filter.min">
        </div>
        <div class="mb-3">
            <label class="form-label">Максимальная стоимость</label>
            <input type="number" class="form-control" placeholder="По умолчанию 100000" ng-model="filter.max">
        </div>
        <button type="submit" class="btn btn-primary">Отфильтровать</button>
    </form>
    <br>

</div>
</body>
</html>